* {
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #dadada;
    background-color: #111111;
    margin: 1;
}

.header {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    background-color: #333333;
    color: #dadada;
    text-align: center;
    padding-bottom: 1px;
    position: fixed;
    width: 100%;
}

/* The navbar container */
.topnav {
    overflow: hidden;
    background-color: #222222;
    width: 145px;
}

/* Navbar links */
.topnav a {
    display: block;
    color: #dadada;
    text-align: center;
    padding: 4px 6px;
    text-decoration: none;
}

/* Links - change color on hover */
.topnav a:hover {
    background-color: #a8a8a8;
    color: black;
}

.column {
    float: left;
    align-content: center;
}

/* Left and right column */
.column.left {
    width: 145px;
    position: fixed;
    top: 80px;
}

/* Left and right column */
.column.right {
    width: 8%;
    position: fixed;
    top: 80px;
}

/* Middle column */
.column.middle {
    width: 82%;
    text-align: center;
    align-content: center;
    position: fixed;
    top: 80px;
    left: 175px;
    min-height: 600px;
    display: flex;
}

.column.middle iframe {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 8px;
}

.content {
    min-height: fit-content;
    min-height: 600px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side,
    .column.middle {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

li {
    list-style-type: none;
}

a {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    color: #dadada;
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

h1 {
    font-size: x-large;
    color: #dadada;
    text-align: center;
    padding-top: 2px;
    padding-bottom: 0px;
}

h2 {
    font-size: medium;
    color: #dadada;
    text-align: center;
    padding-top: 0px;
}
